.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%)
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #F8F8F8;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
  padding: 45px 25px 0;
  font-size: 1.15em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  position: relative;
}